<div class="container-fluid">


    <div class="row"
        style="height: 250px;display: flex; justify-content: center;align-items: center;background-color: rgb(32, 31, 31);margin-top: 50px;">

        <div class="col-10 margin-top: 50px;">
            <div class="row" style="height: 50%;display: flex;justify-content: center;padding:25px">
                <h4 style="color:whitesmoke;"> Team Members</h4>
            </div>
            <div class="row" style="height: 20%;display: flex;justify-content: center; padding: 5px;">
                <p style="color:whitesmoke;"> Kalpesh Patil</p>
            </div>
            <div class="row" style="height: 20%;display: flex;justify-content: center; padding: 5px;">
                <p style="color:whitesmoke;"> Parag Asodekar</p>
            </div>
        </div>
    </div>
</div>